<permissions>
   <principal>
      <name>{{ vcsa_dom_ad_join_domain }}\{{ vcsa_global_admin_group }}</name>
      <group>true</group>
   </principal>
   <roles>-1</roles>
   <propagate>true</propagate>
</permissions>
